@import url(./styles/sectionOne.css);
@import url(./styles/sectionTwo.css);
@import url(./styles/sectionThree.css);
@import url(./styles/sectionFour.css);
@import url(./styles/sectionFive.css);
@import url(./styles/sectionSix.css);
@import url(./styles/footer.css);

/* universal */

:root {
  --primary-background-color: #fefcfb;
  --secondary-background-color: #f7f8fc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

html {
  font-size: 16px;
}

body {
  font-family: "Poppins", serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  padding: 0;
  margin: 0;
}

.section-one,
.section-three,
.section-four,
.section-six {
  background-color: var(--primary-background-color);
}

.section-two,
.section-five,
.section-seven {
  background-color: var(--secondary-background-color);
}

h1,
h2 {
  font-family: "Volkhov", serif;
}

label,
p,
a,
p,
label {
  font-family: "Poppins", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h4,
h5,
h6 {
  font-weight: 600;
  color: #222222;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,h4,
h5,
h6,
p {
  margin-bottom: 1rem;
}


h1{
font-size:   4rem;
}

h2{
  font-size:   3rem;
  }

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.mt-2 {
  margin-top: 1rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.mb-6 {
  margin-bottom: 3rem;
}

.px {
  padding: 0 3rem;
}

.py {
  padding: 3rem 0;
}

.bb{
  font-weight: 600;
  color: #fa7436;
}

.highlight {
  color: #fa7436;
  font-family: "Volkhov", serif;

}

.fill {
  background-color: #fa7436;
  color: #fff;
  border-radius: 3px;
  border: 0;
  height: 3.2rem;
  width: 11rem;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  font-size: 1rem;
}

.fill:hover {
  background-color: #e7652d;
  box-shadow: 0 1px 1px rgba(255, 162, 119, 0.938);
}

.fill:focus {
  outline: 3px solid #ff6721;
}

.unfill {
  color: #fa7436;
  border-radius: 3px;
  border: 1px solid #fa7436;
  height: 3.2rem;
  width: 11rem;
  background-color: #fff;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
  font-size: 1rem;
}

.unfill:hover {
  color: #f7f8fc;
  background-color: #fa7436;
}

.flex-container {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}



@media only screen and (min-width: 800px) {
  .main-container {
    padding: 3.6rem 15rem;
  }
  .landing-page-wrapper {
    padding: 1.6rem 13rem 5.6rem 13rem;
  }
}

@media only screen and (max-width: 600px) {
  .main-container {
    padding: 40px 20px;
  }
  .landing-page-wrapper {
    padding: 20px 20px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .navLinks {
    display: none;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}
